<po-page-default p-title="Vídeo">
  <div class="container">
    <iframe width="840" height="472,5" src="https://www.youtube.com/embed/BHSBsUHa07A?si=rAh8tn7KuXlR1hQu"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <po-button p-label="Continuar" (p-click)="goToWizard()"></po-button>
  </div>
</po-page-default>
